{% extends "base.html" %}


{% block content %}

<div class="sidenav">
 <form method="POST" action="">
     {% csrf_token %}
  {% for key, value in reku_temperatures.items %}
    <ul>
    <li>
        <input type="checkbox" id="{{ key }}" name="reku_temp" value="{{ key }}">
        {{ key }}: {{value}}
  {% endfor %}
    </li>
    </ul>
  <button type="submit" formmethod="post">Show chart</button>
  </form>
</div>
<div align="center">
<iframe name="iframe_1" width="1200" height="1200" frameborder="0" src="{% url 'create_chart' %}"></iframe>
</div>
{% endblock %}
